[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
aioredis = "*"
aiosmtplib = "*"
alembic = "*"
anyio = "*"
asgiref = "*"
async-timeout = "*"
attrs = "*"
authlib = "*"
certifi = "*"
cffi = "*"
charset-normalizer = "*"
click = "*"
cryptography = "*"
decorator = "*"
deprecated = "*"
dnspython = "*"
ecdsa = "*"
email-validator = "*"
fakeredis = "*"
fastapi = "*"
fastapi-mail = "*"
fastapi-pagination = "*"
fastapi-utils = "*"
greenlet = "*"
h11 = "*"
httpcore = "*"
httpx = "*"
id = "*"
iniconfig = "*"
itsdangerous = "*"
jinja2 = "*"
mako = "*"
markupsafe = "*"
passlib = "*"
pdfkit = "*"
pluggy = "*"
py = "*"
pyasn1 = "*"
pydantic = "*"
pyjwt = "*"
pyparsing = "*"
pytest = "*"
python-dotenv = "*"
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
qrcode = "*"
redis = "*"
requests = "*"
rfc3986 = "*"
rsa = "*"
six = "*"
sniffio = "*"
sortedcontainers = "*"
sqlalchemy = "*"
starlette = "*"
tomli = "*"
typing-extensions = "*"
urllib3 = "*"
validators = "*"
watchgod = "*"
websocket = "*"
wrapt = "*"
blinker = "*"
idna = "*"
pycparser = "*"
python-decouple = "*"
pyyaml = "*"
websockets = "*"
aiofiles = "*"
pillow = "*"
stripe = "*"
pandas = "*"
mysqlclient = "*"
forex-python = "*"
gunicorn = "*"
celery = "*"
getmac = "*"
bigfastapi = {path = "/home/BLAC/Documents/HotelNG_Bigfast/bigfastapi/dist/bigfastapi-0.6.1-py3-none-any.whl"}

[dev-packages]

[requires]
python_version = "3.9"
